@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parqueadero</h1>
    <p class="lead">SISTEMAS PARA CONTROL DE PARQUEADERO.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Entorno</h2>
        <p>
            En nuestro entorno social es de gran importancia la seguridad de nuestros vehículos  motos etc, por esto es importante el uso del parqueadero y el control de este mismo,por esto contamos con los mejores equipos y sistemas para su parqueadero..
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sistema</h2>
        <p>Nuestro sistema de parqueadero está diseñado para parqueaderos grandes y pequeños, zonas industriales y de descargue, conjunto cerradas y otros según sus necesidades.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Soluciones</h2>
        <p>Brindamos soluciones en la automatización electromecánica para sistemas de parking.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>